<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/stilus.css" />
        <style>
            table {
                margin: 50px auto;
                width: 50%;
            }

            th {
                text-align: left;
            }

            td {
                border: none;
            }

            td > a {
                background-color: dodgerblue;
                border-radius: 5px;
                color: white;
                display: inline-block;
                letter-spacing: 2px;
                padding: 10px;
                text-decoration: none;
            }
        </style>
        <title>Vásárlók</title>
    </head>
    <body>
        <div id="container">
            <h1>Ez egy bevásárló oldal</h1>
            <p>Minden, mi szem szájnak ingere!</p>
        </div>