<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/stilus.css" />
        <style>
            table {
                margin: 50px auto;
                width: 20%;
            }

            td {
                border: none;
            }
        </style>
        <title>Document</title>
    </head>
    <body>
        <div id="container">
            <h1>Ez egy bev치s치rl칩 oldal</h1>
            <p>Minden, mi szem sz치jnak ingere!</p>
        </div>