<nav>
    <li>
        <a href="/" class=<%= active[0] ? "active" : "" %>>Nyitó</a>
    </li>
    <li style="float:right">
        <a href="/registry" class=<%= active[1] ? "active" : "" %>>Regisztráció</a>
    </li>
    <li style="float:right">
        <a href="/login" class=<%= active[2] ? "active" : "" %>>Belépés</a>
    </li>
</nav>