<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <form action="/buyer" method="post">
      <label for="buyerId">ID:</label>
      <input type="number" name="buyerId" id="buyerId" />
      <label for="nev">Név:</label>
      <input type="text" name="nev" id="nev" />
      <label for="cim">Cím:</label>
      <input type="text" name="cim" id="cim" />
      <button type="submit">Elküld</button>
    </form>
  </body>
</html>
