<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/stilus.css" />
    <title>Vásárlások</title>
  </head>
  <body>
    <a href="/">Home</a>
    <table>
      <% buyings.forEach(buying => { %>
      <tr>
        <td><%= buyer.nev %></td>
        <td><%= buyer.cim %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
