<%- include('./layouts/header_index') %> 

<%- include('./layouts/nav_index') %>

        <div id="tartalom">
            <h1>Ez egy fiktív online bevásárló oldal!</h1>
            <p>Csak gyakorlásra!</p>
        </div>
    </body>
</html>
