<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Árúcikk</title>
  </head>
  <body>
    <a href="/">Home</a>
    <form action="/item" method="post">
      <label for="nev">Név:</label>
      <input type="text" name="nev" id="nev" />
      <label for="kategoria">Kategória:</label>
      <input type="text" name="kategoria" id="kategoria" />
      <label for="ar">Ár:</label>
      <input type="number" name="ar" id="ar" />
      <button type="submit">Elküld</button>
    </form>
  </body>
</html>
