<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/stilus.css" />
    <title>Árucikkek</title>
  </head>
  <body>
    <a href="/">Home</a>
    <table>
      <% items.forEach(item => { %>
      <tr>
        <td><%= item.nev %></td>
        <td><%= item.kategoria %></td>
        <td><%= item.ar %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
